@import "app"
@import "header"
@import "homePage"
@import "photoPage"
@import "footer"
@import "pageNotFound"
body
  padding: 0px
  margin: 0px
  background: url("../assets/img/photo_collage.jpg")
.mainContent
  background: rgba(238, 238, 238, 0.92)
  padding: 20px 0
  position: relative
